@import "../theme.scss";

@font-face {
  font-family: "Neue Haas Unica Pro Regular";
  src: local("Neue-Haas-Unica-pro-regular"),
    url(../assets/fonts/Neue-Haas-Unica-pro-regular.ttf) format("truetype");
}

@font-face {
  font-family: "Saol Display Medium Italic";
  src: local("SaolDisplay-MediumItalic"),
    url(../assets/fonts/SaolDisplay-MediumItalic.otf) format("opentype");
}

body {
  margin: 0px;
  background-color: $white;
  color: $black;
  font-family: "Neue Hass Unica Pro Regular";
}

a {
  color: $primary;
  text-decoration: none;
}

html, body, input, img, img:hover {
  cursor: url(../assets/cursor/cursorNormal_shadow.svg) 7 2, auto;
}

a:hover, button:hover{
  cursor: url(../assets/cursor/cursorHover_shadow.svg) 4 2, auto;
}
