@import "../theme.scss";

@font-face {
  font-family: "Authentic Sans";
  src: local("AUTHENTICSans-90"),
    url(../assets/fonts/AUTHENTICSans-90.otf) format("opentype");
}

@font-face {
  font-family: "Times New Roman MT Std";
  src: local("TimesNewRomanMTStd-CondIt.otf"),
    url(../assets/fonts/TimesNewRomanMTStd-CondIt.otf) format("opentype");
}

body {
  margin: 0px;
  background-color: $white;
  color: $black;
  font-family: "Authentic Sans";
}

a {
  color: $black;
}
