@charset "UTF-8";

#signup{
    position: fixed;
    left: 50px;
    bottom: 50px;
    height: 87px;
}
#email2{
    font-size: 26px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #fff;
    margin-bottom: 5px;
    padding: 0px 0px 5px 0px;
    height: 30px;
    color: #fff;
    font-family: sans-serif;
    width: 425px;
    caret-color: #ffff00;
    position: absolute;
    top: 10px;
    left: 0px;
}
#email_label{
    position: absolute;
    top: 47px;
    width: 450px;
}
#signupbutton{
    position: absolute;
    left: 450px;
    top: 0px;
    height: 87px;
    width: 200px;
    z-index: 10;
}
.ellipse {
    width: 196px;
    height: 83px;
    border-radius: 98px / 41px;
    border: 2px solid #ff0;
    position: absolute;
    top: 0px;
    left: 0px;
    transform-origin: center center;
    filter: blur(1px);
    transition: transform 1s ease, filter 1s ease;
}
#ellipse1 {
    transform: rotate(3deg);
}
#ellipse2 {
    transform: rotate(-3deg);
    opacity: 0.75;
}
#signupbutton:hover #ellipse1, #signupbutton:hover #ellipse2 {
    transform: rotate(0deg);
    filter: blur(0px);
}
.signuptext {
    width: 200px;
    height:87px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: serif;
    font-style: italic;
    font-size: 32px;
    position: absolute;
    top: 0px;
    left: 0px;
    user-select: none;
    filter: blur(1px);
    transition: transform 1s ease, left 1s ease, filter 1s ease;
}
#signuptext1{
    left:-3px;
}
#signuptext2{
    left:3px;
    opacity: 0.75;
}
#signupbutton:hover #signuptext1, #signupbutton:hover #signuptext2 {
    left: 0px;
    filter: blur(0px);
}
