@use '../../theme.scss';

div.main{
  display:grid;
  position: absolute;
  user-select: text;

  &.modalActive{
    filter: blur(50px);
    user-select: none;
    pointer-events: none;
  }

  @include theme.mobileVertical{
    grid-template-columns: 1fr;
    grid-template-rows: 475px auto 665px 76px;
    left: 26px;
    top: 0px;
    width: calc(100% - 26px - 18px);
    // height: calc(100% - 0px - 32px);
    margin-bottom: 32px;
  }
  @include theme.mobileHorizontal{
    grid-template-columns: auto 490px;
    grid-template-rows: 430px 590px 220px;
    left: 8px;
    top: 20px;
    width: calc(100% - 8px - 35px);
    // height: calc(100% - 20px - 40px);
    margin-bottom: 40px;
  }
  @include theme.desktopSmall{
    grid-template-columns: 52px auto 735px;
    grid-template-rows: auto 90px;
    left: 24px;
    top: 24px;
    width: calc(100% - 24px - 32px);
    height: calc(100% - 24px - 28px);
    margin-bottom: 28px;
  }
  @include theme.desktopMedium{
  grid-template-rows: auto 125px;
  }

  & div.navWrap{
    position: relative;
    z-index: 100;
    display: inline-block;

    @include theme.mobileVertical{
      grid-row: 4;
      grid-column: 1;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    @include theme.mobileHorizontal{
      grid-row: 1 / 3;
      grid-column: 1;
      width: 60px;
      display: block;
      justify-content: unset;
    }
    @include theme.desktopSmall{
      grid-row: 1 / 3;
      grid-column: 1;
    }
    & div.nav{
      position: relative;
      @include theme.mobileVertical{
        text-align: center;
        width: 330px;
      }
      @include theme.mobileHorizontal{
        width: 400px;
        top: 414px;
        text-align: right;
        transform: rotate(270deg);
        transform-origin: 0px 0px;
      }

      & a {
        text-decoration: none;
      }
    }
  }

  & div.render{
    display: flex;
    justify-content: center;

    @include theme.mobileVertical{
      grid-row: 1;
      grid-column: 1;
    }
    @include theme.mobileHorizontal{
      grid-row: 2;
      grid-column: 2;
    }
    @include theme.desktopSmall{
      grid-row: 1 / 3;
      grid-column: 2;
    }

    & div.renderWrap{
      width: 0px;

      & img{
        position: absolute;

        @include theme.mobileVertical{
          transform: scale(0.75) translate(-66.6%, -20%);
          object-fit: cover;
          width: 480px;
          height: 677px;
        }
        @include theme.mobileHorizontal{
          transform: translate(-50%, -10%);
        }
        @include theme.desktopSmall{
          transform: scale(0.75) translateX(-66.6%);
          object-fit: unset;
          width: unset;
          height: unset;
        }
        @include theme.desktopMedium{
          transform: translateX(-50%);
        }
      }
    }
  }

  & div.intro{
    position: relative;
    z-index: 100;

    @include theme.mobileVertical{
      grid-row: 2;
      grid-column: 1;
    }
    @include theme.mobileHorizontal{
      grid-row: 1;
      grid-column: 2;
    }
    @include theme.desktopSmall{
      grid-row: 1;
      grid-column: 3;
    }
  }

  & form.signUpForm{
    display: grid;
    position: relative;
    z-index: 100;

    @include theme.mobileVertical{
      grid-row: 3;
      grid-column: 1;
      grid-template-columns: auto;
      grid-template-rows: 90px 90px;
      margin: auto 0px;
    }
    @include theme.mobileHorizontal{
      grid-row: 3;
      grid-column: 2;
      margin: unset;
    }
    @include theme.desktopSmall{
      grid-row: 2;
      grid-column: 3;
      grid-template-columns: auto 163px;
    }
    @include theme.desktopMedium{
      grid-template-columns: auto 206px;
      grid-template-rows: 125px;
    }

    & div input{
      width: 100%;
    }

    & div:first-of-type{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    & button{
      @include theme.mobileVertical{
        margin: 15px auto 0px;
      }
      @include theme.desktopSmall{
        margin: auto 4px 8px auto;
      }
      @include theme.desktopMedium{
        margin: auto 4px 10px auto;
      }
    }
  }

  & ::selection{
    background-color: theme.$highlight;
  }
}

div.modal{
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-size: 200px;
  word-break: break-all;
  line-height: 150px;

  &.modalActive{
    display: flex;
    align-items: center;
    justify-content: center;

    & p{
      font-size: min(96px, 5.5vw);
      line-height: min(96px, 5.5vw);
      color: theme.$primary;

      & a{
        display: inline-block;
        padding: 50px;
        word-break: keep-all;
      }
    }
  }
}

div.highlight{
  position: absolute;
  width: 0px;
  height: 0px;
  left: -1px;
  top: -1px;
  background: linear-gradient(theme.$highlight,theme.$highlight);
  background-position: right;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: 1.25s background-size theme.$ease-in-out;
  z-index: -1;
  filter: blur(4px);
}
