@import "theme.scss";

.cursorx{
  z-index: -10;
  opacity: 0.5;
  width: 2px;
  height: 3000px;
  position: absolute;
}
.cursory{
  z-index: -10;
  opacity: 0.5;
  width: 6000px;
  height: 2px;
  position: absolute;
}

.cursorposition {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: none;
}

.cursorwrapper{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
