@use '../../theme.scss';

.root{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;

  & .input {
    @include theme.T1;

    background: none;
    outline: none;
    color: theme.$black;
    border: none;
    text-indent: 10px;
    position: relative;
    left: -10px;

    &.disabled {
      color: theme.$disabled-text;
    }
    &.invalid {
      color: theme.$error;
    }
    &.focus {
      color: theme.$primary;
    }
    &::placeholder{
      color: theme.$disabled-text;
      opacity: 1;
    }
  }

  & hr{
    margin: 0px;
    width: 100%;
    height: 2px;
    border: none;
    background-color: theme.$black;

    &.disabled {
      background-color: theme.$disabled-elements;
    }
    &.invalid {
      background-color: theme.$error;
    }
    &.focus {
      background-color: theme.$primary;
    }
    @include theme.mobileVertical{
      margin-top: -4px;
      margin-bottom: 0px;
    }
    @include theme.desktopSmall{
      margin-bottom: 5px;
    }
    @include theme.desktopMedium{
      margin-top: -6px;
      margin-bottom: 0px;
    }
  }

  & .label {
    @include theme.T3;

    & br{
      display: none;
    }
    @media screen and (max-width: 440px){
      height: 54px;
      & br{
        display: block;
      }
    }
  }

  & .success{
    color: theme.$primary;
  }

  & .errorMessage {
    @include theme.T3;
    color: theme.$error;
    letter-spacing: -0.008em;
  }
}
