@use '../../theme.scss';

.root {
  text-decoration: none;
  user-select: none;
  display: inline;
  position: relative;

  .linkText{
    display: contents;

    &.linkTextFirst{
      position: absolute;
      user-select: text;
      z-index: 2;

      & h1, & h2, & div{
        display: inline;
      }
    }

    &.linkTextSecond{
      position: absolute;
      display: block;
      visibility: hidden;
      top: 1px;
      left: 0px;
      z-index: 1;
      user-select: none;
      pointer-events: none;
      filter: blur(6px);
      opacity: 0.7;
      transition-property: filter, opacity;
      transition-duration: 1s;
      transition-timing-function: theme.$ease-in-out;

      & h1, & h2, & div{
        width: 100%;
        display: block;
        user-select: none;
        pointer-events: none;
        margin: 0px;
      }
    }
  }

  .linkUnderline{
    display: block;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    user-select: none;
    pointer-events: none;
    padding-bottom: 0.15em;

    .linewrap{
      position: absolute;
      user-select: none;
      pointer-events: none;

      .line{
        width: 0px;
        top: 0px;
        display: block;
        user-select: none;
        pointer-events: none;
        border: 0px solid theme.$primary;
        padding: 0px;
        @include theme.mobileVertical{
          border-width: 3px;
        }
        @include theme.desktopSmall{
          border-width: 2px;
        }
        @include theme.desktopMedium{
          border-width: 4px;
        }
        &.clear{
          width: 0px;
          transition-property: width;
        }
        &.clear270{
          height: 0px;
          transition-property: height;
        }
        &.clear,
        &.clear270{
          transition-duration: 1s;
          transition-timing-function: theme.$ease-in-out;
        }
      }
    }
  }

  &:hover > .linkUnderline .line.clear{
    width: 100%;
  }
  &:hover > .linkUnderline .line.clear270{
    height: 100%;
  }

  &:hover > .linkText.linkTextSecond{
    filter: blur(0px);
    opacity: 0;
  }
}
