@use '../../theme.scss';

.root {
  text-decoration: none;
  user-select: none;
  display: inline;
  position: relative;
  display: inline-block;

  &.navLink{
    transition: rotate(0deg);
  }

  .linkText{
    display: contents;

    &.linkTextFirst{
      position: absolute;
      user-select: text;
      z-index: 2;
      transition-property: text-shadow;
      transition-duration: 0.5s;
      transition-timing-function: theme.$ease-in-out;
      text-shadow: 0px 0px 4px theme.$primary;

      & h1, & h2, & div{
        display: inline;
      }
    }
  }

  &:hover > .linkText.linkTextFirst{
    text-shadow: 0px 0px 3px theme.$primary50opacity;
  }

  &:hover > .linkText.linkTextSecond{
    filter: blur(0px);
    opacity: 0;
  }

  &:hover > .linkText.linkTextFirst{
    opacity: 1;
  }

  &:hover > .linkText.linkTextSecond{
    filter: blur(0px);
    opacity: 0;
  }

  .linkUnderline{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    user-select: none;
    pointer-events: none;
    height: 2px;
    width: 0%;
    background-color: theme.$primary;
    transition-duration: 0.5s;
    transition-property: width, box-shadow;
    transition-timing-function: theme.$ease-in-out;
    box-shadow: 0px 0px 4px theme.$primary;
    @include theme.mobileVertical{
      margin-top: 44px;
    }
    @include theme.desktopSmall{
      margin-top: 36px;
    }
    @include theme.desktopMedium{
      margin-top: 52px;
    }
  }
  &.navLink .linkUnderline{
    @include theme.mobileVertical{
      height: 2px;
      width: 0%;
      margin-top: 44px;
    }
    @include theme.mobileHorizontal{
      height: 0%;
      width: 2px;
      left: unset;
      right: 0px;
      margin-top: 0px;
      margin-right: 44px;
      transition-property: height, box-shadow;
    }
    @include theme.desktopSmall{
      margin-right: 36px;
    }
    @include theme.desktopMedium{
      margin-right: 52px;
    }
  }

  &:hover > .linkUnderline{
    width: 100%;
    box-shadow: 0px 0px 4px theme.$primary50opacity;
  }

  &.navLink:hover > .linkUnderline{
    box-shadow: 0px 0px 4px theme.$primary50opacity;

    @include theme.mobileVertical{
      height: 2px;
      width: 100%;
    }
    @include theme.mobileHorizontal{
      height: 100%;
      width: 2px;
    }
  }

  &:hover > .linkUnderline .linewrapblur{
    opacity: 0;
  }

  &:hover > .linkUnderline .line.clear{
    width: 100%;
  }
  &:hover > .linkUnderline .line.clear270{
    height: 100%;
  }
}
