@use '../../theme.scss';

.H1 {
  @include theme.H1;
}
.H2 {
  @include theme.H2;
}
.T1 {
  @include theme.T1;
}
.T2 {
  @include theme.T2;
}
.T3 {
  @include theme.T3;
}
.newline{
  display: block;

  @include theme.mobileVertical{
    &.H1 {
      height: 44px;
    }
    &.H2 {
      height: 27px;
    }
    &.T1 {
      height: 36px;
    }
    &.T2 {
      height: 36px;
    }
    &.T3 {
      height: 27px;
    }
  }
  @include theme.desktopSmall{
    &.H1 {
      height: 36px;
    }
    &.H2 {
      height: 25px;
    }
    &.T1 {
      height: 36px;
    }
    &.T2 {
      height: 36px;
    }
    &.T3 {
      height: 25px;
    }

  }
  @include theme.desktopMedium{
    &.H1 {
      height: 52px;
    }
    &.H2 {
      height: 36px;
    }
    &.T1 {
      height: 48px;
    }
    &.T2 {
      height: 48px;
    }
    &.T3 {
      height: 36px;
    }
  }
}

.markup{
  display: inline;
}
