@import "theme.scss";

$buttonBorderBase: 2px solid $black;
$buttonBorderHover: 2px solid $primary;
$dropshadow: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.76));
$ease-in-out: cubic-bezier(0.4, 0, 0.68, 0.06);
// $transition-out: cubic-bezier(0.32, 0.94, 0.60, 1.00);

.root {
  &:focus {
    outline: none;
  }
  .buttonBorder {
    position: absolute;
    border: $buttonBorderBase;
    height: inherit;
    width: inherit;
    border-radius: 100%;
    transition: transform 1s, border-color 1s, margin-left 1s;
    transition-timing-function: $ease-in-out;
    filter: $dropshadow;
    &.buttonBorderFirst {
      transform: rotate(-5deg);
      margin-left: -1px;
    }
    &.buttonBorderSecond {
      transform: rotate(4deg);
      margin-left: 1px;
    }
  }

  .buttonText {
    height: inherit;
    width: inherit;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    transition: margin-left 1s, color 1s;
    transition-timing-function: $ease-in-out;
    padding-top: 48px;
    &.buttonTextFirst {
      margin-left: -4px;
      position: absolute;
      transform: unset;
    }
    &.buttonTextSecond {
      margin-left: 4px;
      position: absolute;
    }
  }

  .buttonFill {
    position: absolute;
    height: inherit;
    width: inherit;
    background-color: $white;
    border-radius: 100%;
    transition: transform 1s;
    transition-timing-function: $ease-in-out;
    &.buttonFillFirst {
      transform: rotate(-5deg);
    }
    &.buttonFillSecond {
      transform: rotate(4deg);
    }
  }
  padding: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  background-color: unset;
  border: none;
  min-width: 240px;
  height: 96px;
  width: 100%;
  cursor: inherit;
  color: $black;
  filter: blur(4.8px);
  transition: filter 1s;
  transition-timing-function: $ease-in-out;

  &:hover {
    filter: blur(0);
  }
  &:hover > .buttonBorderFirst {
    transform: rotate(0deg);
    border: $buttonBorderHover;
  }
  &:hover > .buttonBorderSecond {
    transform: rotate(0deg);
    border: $buttonBorderHover;
  }

  &:hover > .buttonFillFirst {
    transform: rotate(0deg);
  }
  &:hover > .buttonFillSecond {
    transform: rotate(0deg);
  }
  &:hover > .buttonTextFirst {
    margin-left: -1px;
    color: $primary;
  }
  &:hover > .buttonTextSecond {
    margin-left: 0px;
    color: $primary;
  }
  &:focus > .buttonBorder {
    border-color: $primary;
  }
}
