// Color Palette =======================
// add new colors here and don't forget colors.js!
$white: #ffffff;
$black: #000000;
$primary: #0000ff;
$error: #ff0000;
$magnetic: #e0ff00;
$disabled: #7b61ff;

// make sure to add new colors to the export function as well!
:export {
  white: $white;
  black: $black;
  primary: $primary;
  error: $error;
  magnetic: $magnetic;
  disabled: $disabled;
}

// TYPOGRAPHY mixins =======================

// EXAMPLE
@mixin H1 {
  font-family: "Authentic Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.011em;
  text-align: left;
}

// We will eventually make a <Text/> component that leverages these mix-ins as they will be assigned as css classes.
// ===== text.style.scss file =====
// .display-large {
//   @include display-large
// }
