// Color Palette =======================
// add new colors here and don't forget colors.js!
$white: #ffffff;
$black: #000000;
$primary: #0000ff;
$success: #3cb371;
$error: #ff0000;
$magnetic: #e0ff00;
$disabled-elements: #eeeeee;
$disabled-text: #555555;

// make sure to add new colors to the export function as well!
:export {
  white: $white;
  black: $black;
  primary: $primary;
  success: $success;
  error: $error;
  magnetic: $magnetic;
  disabled-elements: $disabled-elements;
  disabled-text: $disabled-text;
}

// BREAKPOINTS =======================
// add changes to breakpoints component as well
@mixin mobileVertical {
  @media only screen and (min-width: 0px) {
    @content;
  }
}
@mixin mobileHorizontal {
  @media only screen and (min-width: 800px) {
    @content;
  }
}
@mixin desktopSmall {
  @media only screen and (min-width: 960px) {
    @content;
  }
}
@mixin desktopMedium {
  @media only screen and (min-width: 1180px) and (min-height: 760px) {
    @content;
  }
}
@mixin desktopLarge {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

// TYPOGRAPHY mixins =======================

@mixin base {
  display: inline-flex;
  margin-block-start: unset;
  margin-block-end: unset;
}

@mixin H1 {
  @include base;
  font-family: "Neue Haas Unica Pro Regular";
  font-style: normal;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.008em;
  @include mobileVertical {
    font-size: 30px;
    line-height: 44px;
  }
  @include desktopSmall {
    font-size: 24px;
    line-height: 36px;
  }
  @include desktopMedium {
    font-size: 34px;
    line-height: 52px;
  }
}
@mixin H2 {
  @include base;
  font-family: "Neue Haas Unica Pro Regular";
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.008em;
  text-align: left;
  @include mobileVertical {
    font-size: 18px;
    line-height: 27px;
  }
  @include desktopSmall {
    font-size: 17px;
    line-height: 25px;
  }
  @include desktopMedium {
    font-size: 24px;
    line-height: 36px;
  }
}
@mixin T1 {
  @include base;
  font-family: "Saol Display Medium Italic";
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  @include mobileVertical {
    font-size: 24px;
    line-height: 36px;
  }
  @include desktopSmall {
    font-size: 24px;
    line-height: 36px;
  }
  @include desktopMedium {
    font-size: 32px;
    line-height: 48px;
  }
}
@mixin T2 {
  @include base;
  font-family: "Saol Display Medium Italic";
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  @include mobileVertical {
    font-size: 24px;
    line-height: 36px;
  }
  @include desktopSmall {
    font-size: 24px;
    line-height: 36px;
  }
  @include desktopMedium {
    font-size: 32px;
    line-height: 48px;
  }
}
@mixin T3 {
  @include base;
  font-family: "Neue Haas Unica Pro Regular";
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.008em;
  text-align: left;
  @include mobileVertical {
    font-size: 18px;
    line-height: 27px;
  }
  @include desktopSmall {
    font-size: 17px;
    line-height: 25px;
  }
  @include desktopMedium {
    font-size: 24px;
    line-height: 36px;
  }
}

// We will eventually make a <Text/> component that leverages these mix-ins as they will be assigned as css classes.
// ===== text.style.scss file =====
// .display-large {
//   @include display-large
// }
