// Color Palette =======================
// add new colors here and don't forget colors.js!
$white: #ffffff;
$black: #000000;
$primary: #0000ff;
$success: #3cb371;
$error: #ff0000;
$magnetic: #e0ff00;
$disabled-elements: #eeeeee;
$disabled-text: #555555;

// make sure to add new colors to the export function as well!
:export {
  white: $white;
  black: $black;
  primary: $primary;
  success: $success;
  error: $error;
  magnetic: $magnetic;
  disabled-elements: $disabled-elements;
  disabled-text: $disabled-text;
}

// TYPOGRAPHY mixins =======================

@mixin base {
  display: inline-flex;
  margin-block-start: unset;
  margin-block-end: unset;
}

@mixin H1 {
  @include base;
  font-family: "Authentic Sans";
  font-style: normal;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.008em;

  //desktop
  @media only screen and (min-height: 760px) and (min-width: 1180px) {
    font-size: 34px;
    line-height: 50px;
  }
  //tablet
  @media only screen and (max-height: 760px) and (max-width: 1180px) {
    font-size: 24px;
    line-height: 36px;
  }
  //phone
  @media only screen and (max-width: 375px) {
    font-size: 30px;
    line-height: 44px;
  }
}
@mixin H2 {
  @include base;
  font-family: "Authentic Sans";
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.008em;
  text-align: left;
  //desktop
  @media only screen and (min-height: 760px) and (min-width: 1180px) {
    font-size: 26px;
    line-height: 39px;
  }
  //tablet
  @media only screen and (max-height: 760px) and (max-width: 1180px) {
    font-size: 17px;
    line-height: 25px;
  }
  //phone
  @media only screen and (max-width: 375px) {
    font-size: 24px;
    line-height: 36px;
  }
}
@mixin T1 {
  @include base;
  font-family: "Times New Roman MT Std";
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  //desktop
  @media only screen and (min-height: 760px) and (min-width: 1180px) {
    font-size: 36px;
    line-height: 54px;
  }
  //tablet
  @media only screen and (max-height: 760px) and (max-width: 1180px) {
    font-size: 24px;
    line-height: 36px;
  }
  //phone
  @media only screen and (max-width: 375px) {
    font-size: 34px;
    line-height: 51px;
  }
}
@mixin T2 {
  @include base;
  font-family: "Times New Roman MT Std";
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  //desktop
  @media only screen and (min-height: 760px) and (min-width: 1180px) {
    font-size: 36px;
    line-height: 54px;
  }
  //tablet
  @media only screen and (max-height: 760px) and (max-width: 1180px) {
    font-size: 24px;
    line-height: 36px;
  }
  //phone
  @media only screen and (max-width: 375px) {
    font-size: 36px;
    line-height: 54px;
  }
}
@mixin T3 {
  @include base;
  font-family: "Authentic Sans";
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.008em;
  text-align: left;
  //desktop
  @media only screen and (min-height: 760px) and (min-width: 1180px) {
    font-size: 18px;
    line-height: 27px;
  }
  //tablet
  @media only screen and (max-height: 760px) and (max-width: 1180px) {
    font-size: 12px;
    line-height: 18px;
  }
  //phone
  @media only screen and (max-width: 375px) {
    font-size: 18px;
    line-height: 27px;
  }
}

// We will eventually make a <Text/> component that leverages these mix-ins as they will be assigned as css classes.
// ===== text.style.scss file =====
// .display-large {
//   @include display-large
// }
